.header{
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 0;
    align-items: center;

    @media only screen and (max-width: $medium) {
        flex-direction: column;
        padding: 3.2rem 1.3rem;
      

        &-brand{
            margin-bottom: 3.9rem;
            align-self: flex-start;
        }
    }

   
}


.form-group{
   
    display: inline-flex;
   
    &__item{
       
        @media only screen and (max-width: $medium) {
            width: 100%;
         }
    
     
        
       &--1{
            display: flex;
            flex-grow: 2;
        

           & .form-input--1{
               
            background-color: #FFFFFF;
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            border: 1px solid rgb(231, 231, 231);
            outline: none;
            height: 5.5rem;
            color: #333333;
            height: 5.5rem;
            border-radius: 1.6rem 0 0 1.6rem;
            padding: 1.9rem 1.6rem;
          

            @media only screen and (max-width: $medium) {
               flex-grow: 2;
             }

            
           }

           & .form-input--2{
            background-color: #FFFFFF;
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            border: 1px solid rgb(231, 231, 231);
            outline: none;
            height: 5.5rem;
            color: #333333;
           
            height: 5.5rem;
            padding: 1.9rem 1.6rem;

            @media only screen and (max-width: $medium) {
               flex-grow: 1;
             }
           }
       }
     
       &--3{
        border: 1px solid rgb(231, 231, 231);
        height: 5.5rem;
        border-radius: 0 1.6rem   1.6rem 0;
      display: grid;
      justify-items: center;
      align-items: center;

      @media only screen and (max-width: $medium) {
        width: 100%;
     }
        
        .search-icon{
            width: 1.7rem;
            height: 1.7rem;
            fill: #EB5757;
            // fill: white;
        }
      }
    }
}

.btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 1.5rem 1.7rem;
    border-radius: 16px;
}
.btn-primary{
    background-color:  #EB5757;
    color: white;
}

.header__search{
    // background-color: red;
}
.__header__search{
    background-color: rgba(0, 0, 0, 0.558);
    z-index: 1000;
    // background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .5);

 
  
    & form{
        position: relative;
        background-color: white;
        display: flex;
        justify-content: center;
        // background-color: red;
        z-index: 1010;


     
    }

    &-close{
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        z-index: 10000;

        &:hover{
            transform: scale(1.5);
        }
    }
  
}




.__form-group{

   
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 100%;
    max-width: 125.2rem;
    // background-color: red;
    padding: 9.3rem 0 7rem;
    @media only screen and (max-width: $medium) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 4.9rem 1.3rem 2.4rem;
     }
    


    &__item{
        flex-grow: 1;
   
        

        & > input:focus{
            outline: none;
         
            border: 1px solid black !important;
            border-radius: 1.6rem !important;
        }
        

        &--1{
           & .input-container{
            position: relative;

            & .form-label{
                position: absolute;
                top: 8px;
                left: 1.6rem;
            }
           }
            display: grid;
            grid-template-columns: repeat(2,1fr);

            @media only screen and (max-width: $medium) {
                grid-template-columns: 1fr;
             }

            & .form-input--1{
                outline: none;
                 width: 100%;
                height: 5.5rem;
                border: 1px solid rgb(231, 231, 231);
                border-radius: 1.6rem 0 0 1.6rem;
                padding: 2.7rem 1.6rem 1rem;

                @media only screen and (max-width: $medium) {
                    border-radius: 1.6rem 1.6rem  0 0;
                 }
            }

            
            & .form-input--2{
                outline: none;
                 width: 100%;
                height: 5.5rem;
                border: 1px solid rgb(231, 231, 231);
             
                padding: 2.7rem 1.6rem 1rem;

                @media only screen and (max-width: $medium) {
                    border-radius:0 0 1.6rem 1.6rem  ;
                 }

        }
    }
            
 
        &--3{
            height: 5.5rem;
            border: 1px solid rgb(231, 231, 231);
         border-radius: 0 1.6rem   1.6rem 0;
       display: grid;
       justify-items: center;
       align-items: center;

       @media only screen and (max-width: $medium) {
        margin-top: 13rem;
        border: none;
        border-radius:none;
       
     }
        } 

    }

    .__search-icon{
        fill: white;
        margin-right: 1rem;
    }
}
